.table {
  box-shadow: 0 2px 1px #ccc;
  td{
    vertical-align: middle;
  }
  &.business-table, &.locations-table{
    td{
      font-weight:400;
    }
  }
}

.btn-group {
  & > .btn {
    flex: 0 1 auto;
    margin: 0 auto;
  }
  &.location-actions {
    flex-wrap: wrap;
    .btn {
      margin: 0.5em;
    }
  }
}

.row-actions-td {
  @media (min-width: 750px) {
    width: 330px;
  }
}

input:disabled {
    background: #ddd;
}

.alert {
    z-index: 100;

    button.close{
        position: absolute;
        right: 2em;
        color: #fff;
        opacity: 1;
    }
}

.css-tooltip{
    position: relative;

}
.css-tooltip:hover:after{
    content:attr(data-tooltip);
    background:#000;
    padding:5px;
    border-radius:3px;
    display: inline-block;
    position: absolute;
    transform: translate(-50%,-100%);
    margin:0 auto;
    color:#fff;
    font-weight: 500;
    min-width:150px;
    top:-5px;
    left: 50%;
    text-align:center;
}
.css-tooltip:hover:before {
    top:-5px;
    left: 50%;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border: 5px solid rgba(0, 0, 0, 0);
    border-top-color: #000;
    margin-left: -5px;
    transform: translate(0,0px);
}
