.kt-wizard-v4 {
    .step1 {
        .locations-table {
            tr {
                height: 0;

                &:nth-child(even) {
                    background: #f8f8f8;
                }

                &:nth-child(odd) {
                    background: #fff;
                }
            }

            //@media screen and (min-width: 481px) {
            th:first-child, th:nth-child(2) {
                max-width: 80px;
                box-sizing: border-box;
            }

            //}
            @media screen and (max-width: 480px) {
                table-layout: fixed;
                td, th {
                    padding: 0.3em;
                    font-size: 0.9rem;
                    word-break: break-word;
                }
                td:first-child {
                    padding: 0;
                    width: 45px !important;

                    .kt-switch {
                        display: inline-block !important;
                    }
                }
                th {
                    max-width: 65px;
                }
            }
        }

        .select-business-description-text {
            @media screen and (max-width: 580px) {
                display: none;
            }
        }

        .or-wrapper {
            @media screen and (max-width: 580px) {
                padding: 0.6em 0.3em;
                position: relative;
                left: 0.6em;
            }
        }

        .select2-container.is-invalid {
            .select2-selection {
                border-color: #fd397a;
                background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23fd397a' viewBox='-2 -2 7 7'%3e%3cpath stroke='%23fd397a' d='M0 0l3 3m0-3L0 3'/%3e%3ccircle r='.5'/%3e%3ccircle cx='3' r='.5'/%3e%3ccircle cy='3' r='.5'/%3e%3ccircle cx='3' cy='3' r='.5'/%3e%3c/svg%3E");
                background-repeat: no-repeat;
                background-position: center right calc(0.375em + 0.325rem);
                background-size: calc(0.75em + 0.65rem) calc(0.75em + 0.65rem);
            }

            ~ .invalid-feedback {
                display: block;
            }

            .select2-selection__arrow {
                display: none;
            }
        }
    }

    .step3 {
        .remove-icon {
            background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23fd397a' viewBox='-2 -2 7 7'%3e%3cpath stroke='%23fd397a' d='M0 0l3 3m0-3L0 3'/%3e%3ccircle r='.5'/%3e%3ccircle cx='3' r='.5'/%3e%3ccircle cy='3' r='.5'/%3e%3ccircle cx='3' cy='3' r='.5'/%3e%3c/svg%3E");
            width: 20px;
            height: 20px;
            display: inline-block;
        }

        input[data-inputmask-alias="datetime"] {
            max-width: 75px;
            text-transform: lowercase;
            display: inline-block;
        }

        .regular-hours-table {
            td, th {
                text-align: center;
                vertical-align: middle;
                text-transform: capitalize;
            }

            th {
                &.opening-time, &.closing-time {
                    min-width: 115px;
                }
            }

            .select2-selection__choice {
                margin: 0.2rem 0.4rem 0.2rem 0;
                background: #f3f6f9;
                color: #3f4254 !important;
                font-weight: 400;
                padding: 0.3rem 0.7rem;
                border: none;
            }
            .td-open {
                select, .select2-container {
                    max-width: 200px;
                }

                .select2-container {
                    border: 1px solid #fd397a;
                    border-radius: 0.25rem;
                    box-shadow: none;

                    .select2-selection__rendered {
                        color: inherit !important;
                    }

                    .select2-selection__choice__remove {
                        color: #999;
                    }

                    .select2-selection {
                        border: none;
                    }
                }

                .btn-outline-danger + .select2-container {
                    color: #fd397a !important;
                    border-color: #fd397a !important;
                }

                .btn-outline-success + .select2-container {
                    color: #0abb87 !important;
                    border-color: #0abb87 !important;
                }

            }
        }

        .copy-to + .select2-container {
            max-width: 150px;
            display: block;
            margin: 0.3em auto 0.5em auto;

            .select2-selection__rendered {
                padding: 0.35rem 3rem 0.3rem 1rem;
            }
        }

        .remove-tab {
            display: none;
            cursor: pointer;
            position: absolute;
            right: 1rem;
            top: 50%;
            transform: translateY(-50%);
            color: red;

            &:hover {
                color: darkred;
            }
        }

        .nav-item {
            position: relative;

            .nav-link {
                padding-right: 2rem !important;
            }

            &:hover {
                .remove-tab {
                    display: inline-block;
                }
            }
        }

        .kt-radio-inline {
            label {
                @media screen and (max-width: 460px) {
                    width: 100%;
                }
            }
        }
    }

    button {
        i.fa-spinner {
            position: relative;
            margin-right: 10px;
            padding-right: 0;
            top: -1px;
        }
    }

    // responsive table
    @media screen and (max-width: 700px) {
        .regular-hours-table {
            border: 0;

            thead {
                border: none;
                clip: rect(0 0 0 0);
                height: 1px;
                margin: -1px;
                overflow: hidden;
                padding: 0;
                position: absolute;
                width: 1px;
            }

            tr {
                border: 1px solid #f4f4f4;
                border-top: 1px solid #f1f1f1;
                border-bottom: 2px solid #ddd;
                box-shadow: 0 3px 5px #f1f1f1;
                display: block;
                margin-bottom: 2em;
                background: #fdfdfd !important;
            }

            td {
                display: block;
                font-size: .8em;
                text-align: right;
                border: 1px solid #ddd;
                border-top: 1px solid #f5f5f5;
                border-bottom: 1px solid #f5f5f5;

                &::before {
                    content: attr(data-label);
                    font-weight: bold;
                    text-transform: uppercase;
                    display: block;
                    margin-bottom: 0.2em;
                }

                &:last-child {
                    border-bottom: 0;
                }

                &.day-name {
                    color: #fd397a;

                    span {
                        display: none;
                    }
                }

                &.td-open {
                    select, .select2-container {
                        display: block;
                        margin: 0 auto;
                    }
                }

                &.opening-time, &.closing-time {
                    input {
                        max-width: 185px;
                        display: block;
                        margin: 0 auto;
                    }
                }
            }
        }
    }
}
