// override select2 css
.select2-container--default {
  width: 100% !important;
  .select2-results__options {
    font-weight: 400;
    .select2-results__option .select2-results__option {
      padding: 5px 20px;
    }
    .select2-results__group {
      border-top: 1px solid #f1f1f1;
    }
  }
}

// override datatables css
div.dataTables_wrapper {
  #locations-table.dataTable {
    th {
      &:before, &:after {
        top: 50% !important;
        transform: translateY(-50%);
        bottom: auto;
      }
    }
  }
  div.dataTables_length, div.dataTables_filter, div.dataTables_info, div.dataTables_paginate {
    @media screen and (max-width: 767px) {
      text-align: left !important;
    }
  }
}

// Override wizard css

.kt-wizard-v4[data-ktwizard-state="first"] [data-ktwizard-type="action-prev"],
.kt-wizard-v4 [data-ktwizard-type="action-prev"]{
    display:inline-block;
}

.kt-content {
  .kt-wizard-v4 {
    .kt-wizard-v4__wrapper {
      @media (max-width: 768px) {
        padding: 0;
      }
      .kt-form {
        width: 90%;
        padding-top: 2rem;
        @media (max-width: 390px) {
          width: 100%;
        }
        .form-control[readonly]:not(.date-range) {
          background-color: #f7f8fa;
        }
        .select-business-btns-wrapper {
          @media (min-width: 576px) {
            flex: 0 0 41.66667%;
            max-width: 41.66667%;
          }
        }
        .or-wrapper {
          @media (min-width: 576px) {
            flex: 0 0 8.33333%;
            max-width: 8.33333%;
          }
        }
        .select-business-wrapper {
          @media (min-width: 576px) {
            flex: 0 0 50%;
            max-width: 50%;
          }
        }
      }
    }
    &__nav {
      &-items {
        flex-direction: row;
        align-content: flex-start;
        @media (max-width: 500px) {
          flex-direction: column;
          align-items: flex-start;
        }
        .kt-wizard-v4__nav-item {
          @media (max-width: 1399px) {
            flex: 0 0 calc(25% - 0.25rem);
            width: calc(25% - 0.25rem);
          }
          @media (max-width: 1239px) {
            flex: 0 0 calc(50% - 0.25rem);
            width: calc(50% - 0.25rem);
          }
          @media (max-width: 650px) {
            flex: 0 0 100%;
            width: 100%;
          }
        }
      }
    }
    .kt-form__actions {
      button {
        @media (max-width: 768px) {
          padding-left: 1.2rem;
          padding-right: 1.2rem;
        }
      }
    }
  }
}

// override dropzone css
.dropzone .dz-preview .dz-image {
  max-width: 120px;
  position: relative;
  img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    max-width: 120px !important;
  }
}

.dropzone .dz-preview:not(.dz-processing) .dz-progress {
  display: none;
}

//theme overrides
.kt-widget5 {
  .kt-widget5__item {
    &:last-child {
      margin-bottom: 0;
    }
    .kt-widget5__content {
      .kt-widget5__pic {
        width: 45%;
        padding-right:0.8em;
        max-width: 140px;
        img {
          width: 100%;
          max-width: 100%
        }
      }
      .kt-widget5__section{
        width: 55%;
      }
      &:first-child {
        @media (max-width: 420px) {
          width: 100%;
        }
        .kt-widget5__section {
          .kt-widget5__mobile-locations {
            display: none;
            @media (max-width: 420px) {
              display: block;
            }
          }
        }
      }
      &:last-child {
        @media (max-width: 420px) {
          display: none;
        }
      }
    }
  }
}

.btn.btn-sm [class^="fa-"],
.btn-group-sm > .btn [class^="fa-"],
.btn.btn-sm [class*=" fa-"],
.btn-group-sm > .btn [class*=" fa-"] {
  font-size: 0.9rem;
  margin-bottom: 1px;
}

.btn .la-2x {
  font-size: 2em !important;
}


.form-control{
    &.form-control-solid {
        background-color: #f3f6f9;
        border-color: #f3f6f9;
        color: #3f4254;
        border-radius:7px;
        -webkit-transition: color .15s ease,background-color .15s ease,border-color .15s ease,-webkit-box-shadow .15s ease;
        transition: color .15s ease,background-color .15s ease,border-color .15s ease,-webkit-box-shadow .15s ease;
        transition: color .15s ease,background-color .15s ease,border-color .15s ease,box-shadow .15s ease;
        transition: color .15s ease,background-color .15s ease,border-color .15s ease,box-shadow .15s ease,-webkit-box-shadow .15s ease;
    }

    &.form-control-lg {
        height: calc(1.5em + 1.65rem + 2px);
        padding: .825rem 1.42rem;
        font-size: 1.08rem;
        line-height: 1.5;
        border-radius: .42rem;
    }
}
textarea {
    height: auto !important;
}

// Uppy
.uppy-Dashboard-inner {
    width: 100% !important;
    max-width: 750px !important;
    margin:0 auto;
}
