.kt-pricing-4 {
  .kt-pricing-4__subtitle {
    span {
      color: #666 !important;
      font-size: 0.95rem !important;
      font-weight: 400 !important;
    }
  }
  .kt-pricing-4__bottom-item {
    &.price-cell {
      .price {
        font-size: 1.2rem;
      }
      .explanation {
        color: #aaa;
        font-size: 0.9rem;
        font-weight: 400;
      }
    }
    span {
      font-size: 1.5rem;
    }
  }
}