@import '~datatables.net-bs4/css/dataTables.bootstrap4.min.css';
@import '~datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css';
@import "_includes/location-wizard";
@import "_includes/promotions";
@import "_includes/overrides";
@import "_includes/form";

.kt-dialog--loader {
  display: none !important;
}

.loading {
  position:relative;
  min-height:200px;
  display:block !important;
  .loader-wrap {
    background: rgba(0, 0, 0, 0.3);
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    .loader {
      background: #ffffff;
      -webkit-animation: load1 1s infinite ease-in-out;
      animation: load1 1s infinite ease-in-out;
      width: 1em;
      height: 4em;
      top: 50%;
      color: #ffffff;
      text-indent: -9999em;
      margin: auto;
      position: relative;
      font-size: 11px;
      transform: translate3d(0, -50%, 0);
      -webkit-animation-delay: -0.16s;
      animation-delay: -0.16s;
      &:before,
      &:after {
        background: #ffffff;
        -webkit-animation: load1 1s infinite ease-in-out;
        animation: load1 1s infinite ease-in-out;
        width: 1em;
        height: 4em;
        position: absolute;
        top: 0;
        content: '';
      }
      &:before {
        left: -1.5em;
        -webkit-animation-delay: -0.32s;
        animation-delay: -0.32s;
      }
      &:after {
        left: 1.5em;
      }
    }
  }
}
@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}

@media (min-width: 1200px) {
    .col-xl-3 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
    }
    .col-xl-6 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
}

